colorama~=0.4.6
Flask~=3.1.2
fish-audio-sdk
openai~=2.8.1
pandas
psutil~=7.1.3
PyAutoGUI
Requests~=2.32.5
urllib3
certifi
snownlp
SQLAlchemy~=2.0.44
tenacity~=9.1.2
Werkzeug~=3.1.3
apscheduler==3.10.4
python-dateutil==2.9.0.post0
dateparser==1.2.0
pygame
pytz==2024.1
python-dotenv==1.0.1
schedule
uiautomation
emoji==2.10.1
cryptography>=3.0.0
zhdate~=0.1
httpx-ws==0.7.2

httpx~=0.28.1
websockets~=15.0.1
pydantic~=2.12.5
pywin32==311